:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --color-bg: #fff;
  --color-text: #000;

  --searchmate-input-text-color: #3f3f46;
  --searchmate-input-color: #f1f5f9;
  --searchmate-result-color: #64748b;
  --searchmate-result-bg: #f8fafc;
  --searchmate-search-color: #fff;
  --searchmate-container-color: rgba(15, 23, 42, 0.1);
  --searchmate-search-icon-color: #334155;
  --searchmate-input-placeholder-color: #cbd5e1;
  --searchmate-selected-bg: #fee2e260;
  --searchmate-selected-border-color: #fecaca60;
  --searchmate-link-colors: #ef4444;
}

:root.theme-dark {
  color-scheme: dark;
  --color-bg: #000;
  --color-text: #fff;

  
  --searchmate-input-text-color: #f4f4f5;
  --searchmate-input-color: #27272a;
  --searchmate-result-color: #fafafa;
  --searchmate-result-bg: #171717;
  --searchmate-search-color: #27272a;
  --searchmate-container-color: rgba(15, 23, 42, 0.1);
  --searchmate-search-icon-color: #d4d4d8;
  --searchmate-selected-bg: #fee2e220;
  --searchmate-input-placeholder-color: #737373;
  --searchmate-selected-border-color: #fecaca;
  --searchmate-link-colors: #ef4444;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}
